$color-background-primary: #d1d1d14a;

$color-card-winter: linear-gradient(0deg, #070081 0%, #5eacff 35%, #d5f8ff 100%);
$color-card-summer: linear-gradient(180deg, #f5b60f 0%, #e96216 76%, #ff0000 100%);
$color-summer-hover: #5eacff;
$color-winter-hover: #f5b60f;

$color-menu: #b4b4b49e;

$color-pagination-primary: #070081;
$color-pagination-secondary: #263fcd;
$color-pagination-third: #6f6f6f;

$color-text-primary: black;
$color-text-secondary: white;
$color-text-third: gray;

